@import "tailwindcss";

::-webkit-scrollbar {
  width: 10px;              /* ширина скролла */
}

::-webkit-scrollbar-track {
  background: #1a1a1a;      /* цвет фона дорожки */
}

::-webkit-scrollbar-thumb {
  background: #555;         /* цвет "ползунка" */
  border-radius: 5px;       /* закругление */
}

::-webkit-scrollbar-thumb:hover {
  background: #888;         /* цвет при наведении */
}

body{
  background-color: #000000;
}