@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

/* Для Firefox */
* {
  scrollbar-width: none; /* скрывает скроллбар */
}

/* Чтобы скролл работал */
html, body {
  overflow: auto;
}
body{
  background-color: #000000;
}

